@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(211, 210, 210);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.note {
  margin-top: 10%;
  position: relative;
  background-image: url("media/white-paper.jpeg");
  padding: 20px;
  min-width: 290px;
  min-height: 290px;
  border-radius: 16px;
  box-shadow: -9px 8px 9px 0px rgba(0, 0, 0, 0.349);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
}

.noteDivider {
  border: 0;
  height: 1px;
  background: #333;
}

.note-title {
  font-size: 20px;
  --max-lines: 1;
  --line-height: 1;
  font-weight: 600;
  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: var(--max-lines);
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
}

.note-description {
  line-break: anywhere;
  -webkit-text-decorations-in-effect: underline;
  line-height: normal;
  --max-lines: 3;
  --line-height: 1.4;
  font-weight: 400;
  max-height: calc(var(--max-lines) * 1em * var(--line-height));
}

.note-info {
  max-width: 290px;
  overflow-wrap: break-word;
}

.notes-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 0.5fr));
  grid-gap: 14px;
  margin-top: 20px;
  justify-items: center;
}

.noteContent {
  width: 100%;
  height: 320px;
  background-color: transparent;
  transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

.note-footer {
  margin-top: 100px;
}

.note-footer-info {
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  position: absolute;
  bottom: 80px;
  right: 70px;
  left: 70px;
}

.note-footer-cat {
  position: absolute;
  bottom: 130px;
  left: 50px;
  right: 50px;
}

.note-footer-cat button {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.note-btns {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  margin-bottom: 10px;
  background-color: #afafaf3d;
  border-radius: 26px;
}

.note-btns button {
  margin: 0 5px;
}

.note-btns button:hover {
  background-color: #aaaaaa62;
}

#editModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  padding: 30px;
  box-sizing: border-box;
  display: grid;
}
